body {
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: 400px;
    margin: 0 auto;
  }
  
  h1 {
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
  }
  
  form {
    margin: 20px 0;
  }
  
  input {
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  input[type="submit"] {
    background-color: #000;
    color: #fff;
    font-weight: bold;
    border: none;
    cursor: pointer;
  }
  
  p {
    text-align: center;
  }
  